.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.home-heading {
  color: #ffffff;
  font-size: 70px;
  font-family: 'Roboto';
  font-weight: 700;
  width: 40%;
  margin-left: 25px;
}

.home-description {
  margin-top: -15px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  margin-left: 25px;
  width: 30%;
}

.finds-jobs {
  background-color: #4f46e5;
  color: #f8fafc;
  font-size: 15px;
  padding: 15px;
  font-weight: 600;
  border-radius: 5px;
  border-width: 0px;
  margin-left: 25px;
}

.link-item {
  text-decoration: none;
}
